<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI</title>
    <link href="{{ url_for('static', path='/app.css') }}" rel="stylesheet">
</head>

<body>
    <div class="app">
        <img src="https://fastapi.tiangolo.com/img/logo-margin/logo-teal.png" alt="logo">
        <div class="center">
            <div>Documentation: <a href="https://fastapi.tiangolo.com">https://fastapi.tiangolo.com</a></div><br/>
            <div>Source Code: <a href="https://github.com/tiangolo/fastapi">https://github.com/tiangolo/fastapi</a></div>
        </div>
    </div>
</body>

</html>